@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

html {
  scroll-behavior: smooth;
  font-famili: Nunito;
}

@layer base {
  ul,
  ol {
    list-style: revert;
    padding: revert;
  }
}

@layer base {
  body {
    @apply h-full bg-gray-50  dark:bg-personal_blue;
  }
}
@layer base {
  h6 {
    @apply dark:text-personal_blue-text;
  }
  h5 {
    @apply dark:text-personal_blue-text;
  }
  h4 {
    @apply dark:text-personal_blue-text;
  }
  h3 {
    @apply dark:text-personal_blue-text;
  }
  h2 {
    @apply dark:text-personal_blue-text;
  }
  h1 {
    @apply dark:text-personal_blue-textParagraph;
  }
  p {
    @apply dark:text-personal_blue-textParagraph;
  }
  li {
    @apply dark:text-personal_blue-text;
  }
  code {
    @apply dark:text-white;
  }
}
